.container{
    margin:50px 0;
    
}

.card{
    margin: 0 2% !important;
    
}

.infected {
    border-bottom: 10px solid rgba(0, 38, 255,0.5);
    color: lawngreen;
}

.recovered {
    border-bottom: 10px solid rgba(53, 197, 9,0.5);
}

.deaths {
    border-bottom: 10px solid rgba(255, 0, 0,0.5);
}

@media (max-width:770px){
    .card{
        margin:2% 0 !important;
    }
}